.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchSelect {
  margin-right: 3px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
/* 
.searchButton {
  padding: 8px 16px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
} */

.searchButton {
  color: black; /* 아이콘 색을 검은색으로 설정 */
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  cursor: pointer; /* 마우스 커서가 손 모양으로 변경 */
}